body{
    background-color: #121212;/*temporal poner #121212 para el final */
  


}

input {
	width: 100%;
    padding: 12px 15px;
    border: none;
    font-size: 150%;
    background-color: #121212;
    color: #FFFFFF;
}
input:focus{
    outline: none;
}

button {
    font-size: 150%;
    display: inline-block;
	padding: 12px 40px;
	border-radius: 30px;
	background-color: #121212;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
	text-transform: uppercase;
	
}
button:active {
	transform: scale(0.95);
    background-color: #181414;
}
#contenedor{
    display: block;
    border: #BB86FC solid;
    padding: 100px;
    border-radius: 30px; 

}
#responsive{
    display: grid;
    font-size:20px;
       
    grid-template-columns: 
    repeat(
        auto-fit,
        minmax(400px, 1fr)
    );
    gap: 32px;
}

#calculadora{
    
    color: #FFFFFF;
    text-align: center;
    display: inline-block;
    
}

#contenedorboton{
    min-width: 300px;
    border: 1px solid #BB86FC; 
    padding: 10px; 
    display: inline-flex;
    border-radius: 30px;
}

#detalle{   
    border: #BB86FC solid;
    border-radius: 20px;
    padding: 10px; 
    color: #FFFFFF;
    display: inline-block;
    text-align: left;
    list-style-position: inside;
}


.error{
    color: red;
    font-weight: bold;
    display: none;
    font-size: 30px;
    
}

.resultado{
    color: #f7f7f7; 
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
    padding: 1px;
}
